@use 'variables' as *;

.user-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f7fa;
}

.loading {
  font-size: $font-size-medium;
  color: $secondary-color;
  text-align: center;
}

.user-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: $max-width-details;
  padding: $padding-medium;
  background-color: #fff;
  border-radius: $border-radius;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.not-found {
  font-size: $font-size-medium;
  color: #ff6f61;
  text-align: center;
}
